a { 
  color: #62dada;
  text-shadow: none;
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover, a:focus {
  color: #a6fafa;
  text-decoration: none;
}

img[src*="#single"] {
    width: 100%;
    height: 100%;
  }

details > summary {
  border-bottom: 2px;
  border-color: grey;
  margin-bottom: 10px;
  border-style: solid;
}

details[open] > summary {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px;
  border-color: darkcyan;
  margin-bottom: 10px;
  color: darkcyan;
  border-style: solid;
}

details[open] > div {
  border-radius: 15px;
  background-color: rgb(231, 227, 227);
  padding: 10px;
  margin-bottom: 10px;
}

.inner { position: relative; max-width: 70%; padding: 20px 10px; margin: 0 auto; }
